.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #987f50;
  padding: 3rem;
}

.button {
  background-color: #1e4151;
  color: #f9eed9;
}

.circleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.circle {
  border: 2px solid #f9eed9;
  box-sizing: border-box;
  border-radius: 40px;
  height: 52px;
  width: 52px;
  margin: 0.75rem;
}

.dropdown {
  border-radius: 10px;
  padding: 1rem;
  height: 3rem;
  border-color: #1e4151;
  background-color: #1e4151;
  color: #f9eed9;
}

.icon {
  display: flex;
  height: 2rem;
  width: 2rem;
  fill: #1e4151;
  margin: auto;
  justify-content: center;
}
