.landing {
  display: flex;
  margin-top: 4.25rem;
  background-color: #f0e4b1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5rem;
}

.dogeLogo {
  height: 20rem;
  width: 18rem;
}

.landingButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.landingButtonLeft {
  color: #f9eed9;
  background: #1e4151;
  margin: 1rem;
}

.landingButtonRight {
  color: #1e4151;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
  max-width: 90vw;
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  padding-right: 0.5rem;
}
